@using EscolaMVC.Models.Entities;

@model List<Turma>
@{
    ViewData["Title"] = "Index";
}

@*mostrar todas as turmas com  as vagas disponíveis, de cada uma delas*@
@*botão de criar nova turma*@
<p>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create")'">Adicionar Aluno</button>
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr class="success">
            <th>
               Turma
            </th>
            <th>
                Vagas
            </th>
            <th>
               Turno
            </th>
            <th>
                Professor
            </th>
        </tr>
    </thead>
</table>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Turno
            </td>
            <th>
                @item.MaximoAlunos
            </th>
            <td>
                @item.Professor
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>

    }
</tbody>
</table>